<%= link_to "Home", posts_path %>
<h2>マイページ</h2>

<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>価格</th>
      <th>商品説明</th>
      <th>商品画像</th>
      <th>カテゴリー</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.name, post_path(post) %></td>
        <td><%= post.price %></td>
        <td><%= post.description %></td>
        <td><% if post.post_images.present? %>
            <% post.post_images.each do |image| %>
            <%= attachment_image_tag image, :image, :fill, 100, 100 %>
            <% end %>
            <% else %>
            画像がありません
            <% end %></td>
        <td><% if post.category.present? %>
          <%= link_to post.category.name, category_path(post.category) %>
          <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @posts %>