<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
</head>
<body>
<h2><%= @order.order_name %>様</h2>
<p>ご注文ありがとうございます。</p>
ご注文内容<br>
商品:<%= @order.post.name %><br>
合計金額：<%= @order.line_price %><br>
電話番号<%= @order.tel %><br>
お届け先住所：<%= @order.address %>
</body>
</html>