<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
</head>
<body>

<p>注文が入りました。</p>
注文内容<br>
商品:<%= @order.post.name %><br>
合計金額：<%= @order.line_price %><br>
名前：<%= @order.order_name %><br>
電話番号<%= @order.tel %><br>
配送先住所：<%= @order.address %>
</body>
</html>