<h2>商品詳細</h2>
商品名:
<%= @post.name %><br>
価格:
<%= @post.price %><br>
商品説明:
<%= @post.description %><br>
商品画像:
<% if @post.post_images.present? %>
 <% @post.post_images.each do |image| %>
  <%= attachment_image_tag image, :image, :fill, 100, 100 %>
  <% end %>
 <% else %>
 画像がありません
 <% end %>
 <br>
 カテゴリー:
 <% if @post.category.present? %>
 <%= @post.category.name %>
 <% end %>
<br>
<%= link_to "注文する", new_post_order_path(@post) %>

<%= link_to "戻る", posts_path %>
<% if user_signed_in? %>
   <% if current_user.admin_flg? %>
<%= link_to "編集", edit_post_path(@post) %>
<%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "よろしいですか？" %>
<% end %>
<% end %>