<h2>商品詳細</h2>
<table class="table">
	<tr>
	  <th>商品名</th>
	  <th>価格</th>
	  <th>商品説明</th>
	  <th>商品画像</th>
	  <th>カテゴリー</th>
	</tr>
<td><%= @post.name %></td>
<td><%= @post.price %></td>
<td><%= @post.description %></td>
<td><% if @post.post_images.present? %>
 <% @post.post_images.each do |image| %>
  <%= attachment_image_tag image, :image, :fill, 100, 100 %>
  <% end %>
 <% else %>
 画像がありません
 <% end %></td>
 <td> <% if @post.category.present? %>
 <%= @post.category.name %>
 <% end %></td>
</table>
<% if user_signed_in? %>
    <div class="btn btn-default" role="button"><%= link_to "注文する", new_post_order_path(@post) %></div>
  <% else %>
    <a class="btn btn-default" href="../users/sign_up" role="button">注文する</a>
<% end %><br>

<%= link_to "戻る", posts_path %>
<% if user_signed_in? %>
   <% if current_user.admin_flg? %>
<%= link_to "編集", edit_post_path(@post) %>
<%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "よろしいですか？" %>
<% end %>
<% end %>