<p id="notice"><%= notice %></p>

<h1>カテゴリー</h1>

<table class="table">
  <thead>
    <tr>
      <th>カテゴリー名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to '詳細', category %></td>
        <td><%= link_to '編集', edit_category_path(category) %></td>
        <td><%= link_to '削除', category, method: :delete, data: { confirm: 'よろしいですか?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>
    <%= paginate @categories %>
<%= link_to 'カテゴリー作成', new_category_path %>
